@mixin bgCss($position,$size) {
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}
@mixin scrollBar {
    ::-webkit-scrollbar-track-piece {
       background-color: transparent;
   }
    ::-webkit-scrollbar {
       width: 7px;
       height: 7px;
       background-color: transparent;
   }
    ::-webkit-scrollbar-thumb {
       border-radius: 5px;
       background-color: hsla(220, 4%, 58%, .3);
   }
}